.action-footer {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #141414;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navbar {
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}

.navbar-solid {
  background-color: #111;
}

nav {
  display: flex;
  margin-left: 100px;
}

.nav-a {
  display: inline-block;
  margin: 1em;
  color: whitesmoke;
}

.logo {
  width: 80px;
  object-fit: contain;
  color: red;
  margin-left: 30px;
}

form div {
  margin: 1em;
  display: inline-block;
}

h2 {
  color: whitesmoke
}

.mainn {
  background-color: #141414;
}

.row {
}

.row-images {
  display: flex;
  padding: 20px;
}

.row-image {
  width: 400px;
  height: 100%;
  object-fit: contain;
  margin-right: 10px;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  transition: transform 450ms;
}

.row-image-cover {
  width: 300px;
  height: 100%;
  object-fit: contain;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 450ms;
}

.row-image:hover {
  transform: scale(1.08)
}

.modal-link {
  min-width: 400px;
  max-height: 250px;
  object-fit: contain;
  transition: transform 450ms;
}

.row-modal {
  display: flex;
  min-width: 400px;
  height: 230px;
  max-height: 250px;
  object-fit: contain;
  margin-right: 10px;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  transition: transform 450ms;
  background-color: #141414;
  overflow: hidden;
}

.row-modal-end {
  display: flex;
  min-width: 400px;
  height: 230px;
  max-height: 250px;
  object-fit: contain;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 450ms;
  background-color: #141414;
  overflow: hidden;
}

.row-modal-image {
  max-width: 400px;
  min-height: 100%;
  transition: transform 450ms;
  overflow: hidden;
  object-fit:cover;
}

.row-modal:hover {
  cursor: pointer;
  transform: scale(1.50);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row-modal-end:hover {
  cursor: pointer;
  transform: scale(1.50);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 6.5rem;
  margin-right: -5.93rem;
}

.modal-header {
  background-size: cover;
  background-position: center top;
  color: whitesmoke;
  max-height: 100%;
  min-height:max-content;
  min-width: 100%;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;
}

.title-container {
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
}

.modal-title {
  font-size: auto;
  font-weight: 800;
  color: whitesmoke;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.05rem;
  
}

.wrapper {
  display: flex;
  grid-template-columns: repeat(3,100%);
  scroll-behavior: smooth;
  height: 360px;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  padding-left: 1rem;
}

.wrapper-large {
  display: flex;
  grid-template-columns: repeat(3,100%);
  scroll-behavior: smooth;
  height: 450px;
  align-items: center;
  overflow: hidden;
}

section {
  width: 100%;
  min-height: 70%;
  position: relative;
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
  align-items: center;
  /* scroll-margin-top: 50vh; */
}

.section-large {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
  margin-bottom: 15%;
  margin-top: 15%;
}
    

.row-title {
  font-size: 30pt;
  margin-bottom: -50px;
  color: whitesmoke;
  padding-left: 3rem;
}
    
.row-title-large {
  font-size: 30pt;
  margin-bottom: 0px;
  color: whitesmoke
}
      
section a:nth-of-type(1) {
        top:0; bottom:0; left:0;
        background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
section a:nth-of-type(2) {
        top:0; bottom:0; right: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
      
.arrow__btn {
  display: flex;
        position: absolute;
        color: #fff;
        text-decoration: none;
        font-size: 6em;
        background:rgb(0,0,0);
        width: 80px;
        padding: 20px;
        text-align: center;
        z-index: 1;
        align-items: center;
}

.banner {
  background-size: 100%;
  background-position: center center;
  color: whitesmoke;
  object-fit: contain;
  height: 1100px;
}

.banner-info {
  margin-left: 30px;
  padding-top: 440px;
  height: 190px;
}

.banner-title {
  font-size: 5rem;
  font-weight: 800;
  padding-bottom: 0.0rem;
}

.banner-desc {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.8rem;
}

.banner-button {
  cursor: pointer;
  color: whitesmoke;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.0rem;
  background-color:rgb(58, 57, 57);
  min-height: 50px;
  min-width: 150px;
}

.banner-button-play {
  cursor: pointer;
  color: black;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.0rem;
  background-color:whitesmoke;
  min-height: 50px;
  min-width: 100px;
}

.banner-button-play:hover {
  color: #000;
  background-color: lightgray;
  transition: all 0.2s;
}

.banner-button:hover {
  color: whitesmoke;
  background-color: grey;
  transition: all 0.2s;
}

.fade-out {
  height: 29.5rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #141414);
}

.single-vid-container {
  min-height: 70rem;
  min-width: 100%;
}

.youtube {
  min-height: 100vh;
  min-width: 100vw;
}